<form method="get" action="/quizes/<%=quiz.id%>/answer">
	Tipo: <%=quiz.indice%><p>
	Pregunta: ¿<%=quiz.pregunta%>?<p>
	<input type="text" name="respuesta" value="responda aqui" />
	<input type="submit" value="enviar" />
</form>
